* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}
  
html {
  background-color: ghostwhite;
}

.pattern-flex {
  display: flex;
  justify-content: center;
}

form input[type='file'] {
   display: none;
}



/* ::-webkit-file-upload-button {
  width: 200px;
  height: 100px;
   background: url('https://icons.iconarchive.com/icons/dtafalonso/yosemite-flat/256/Music-icon.png'); 
  background: url('https://icons.iconarchive.com/icons/dtafalonso/yosemite-flat/256/Music-icon.png') no-repeat center;
  background-size:contain;
}  */

form {
   height: 100px;
   width: 100%;
   display: flex;
   justify-content: center;
}

.song-upload-button {
    width: 100px;
    height: 100px;
    background: url('https://icons.iconarchive.com/icons/dtafalonso/yosemite-flat/256/Music-icon.png') no-repeat center;
    background-size:contain;
    cursor: pointer;
    
}

.song-upload-button:active {
  transform: translateY(4px);
}

#canvas {
  width: 1800px;
  height: 250px;
  background-color: black;
}


.slider-container {
  display: flex;
  justify-content: center;
  height: 260px;
  width: 100%;
}

.slider-container .slider {
 transform: rotate(-90deg);
}

.volume-container {
  display: flex;
  justify-content: center;
}

.volume-container input[type=range] {

    width: 1000px;

}

.flex-list {
 display: flex;
 justify-content: center;
 padding-bottom: 50px;
}


.flex-list li{
  height: 50px;
  width: 100px;
  background-color: green;
  list-style: none;
  border: 1px solid black;
  
}

.flex-list li:nth-child(1) {
  background: url('https://static.thenounproject.com/png/159150-200.png') no-repeat center;
  background-size:contain; 
  box-shadow: 2px 1px 2px gray;
  margin: 0px 0px 0px 0px;
}

.flex-list li:nth-child(1):active {
  box-shadow: 0 0 0 white;
  margin: 1px 1px 1px 1px;
}

.slider-container input[type=range] {
  height: 10px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 180px;
  background-color: rgba(0,0,0,.5);
  margin-top: 150px;
  outline: none;
}

.album-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 12%;
  margin-left: 12%;
  margin-top: 120px;
  list-style: none;
  margin-top: 20px;
}


.album-grid li:nth-child(6) {
  background: url('https://is3-ssl.mzstatic.com/image/thumb/Music128/v4/52/45/c6/5245c6ba-dd28-3a83-d019-51d405d31fde/00886443203884.rgb.jpg/600x600bb-60.jpg') no-repeat center;
  background-size: cover;
}

.album-grid li:nth-child(5) {
    background: url('https://images.squarespace-cdn.com/content/v1/5795f260414fb5c7c374b62a/1579680784197-78IJ6EPJSGVS3UGVASDB/ke17ZwdGBToddI8pDm48kCOQQNXA6dDqlVAToNRdJCQUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dpS1TaeIbdr1sPytWvsPBYfIZchPzPrU6-tZB6EaigKpCjLISwBs8eEdxAxTptZAUg/TheWeeknd_BlindingLights.png?format=1500w') no-repeat center;
  background-size: cover;
}


.album-grid li:nth-child(4) {
    background: url('https://is1-ssl.mzstatic.com/image/thumb/Music114/v4/04/c7/14/04c714b8-e897-11b3-238f-e666d524e968/888888046775.jpg/600x600bb-60.jpg') no-repeat center;
  background-size:contain;
}


.album-grid li:nth-child(3) {
    background: url('https://is4-ssl.mzstatic.com/image/thumb/Music124/v4/b3/59/d0/b359d085-aa84-aae8-d03c-5305d0bb0111/16UMGIM34076.rgb.jpg/600x600bb-60.jpg') no-repeat center;
  background-size:contain;
}

.album-grid li:nth-child(2) {
    background: url('https://is4-ssl.mzstatic.com/image/thumb/Music124/v4/46/bc/48/46bc48d3-8bff-8552-a5df-cc1bb18a9e31/00602527670195.rgb.jpg/600x600bb-60.jpg') no-repeat center;
  background-size:contain;
}

.album-grid li:nth-child(1) {
  background: url('https://i.pinimg.com/originals/ce/de/a5/cedea5f757301128e39ebf13a36d3596.jpg') no-repeat center;
  background-size:contain;
}

.grid-flex {
  display: flex;
  justify-content: center;
}

.album-grid li {
  /* width: 100px;
  height: 100px; */
  cursor: pointer;
  /* margin: 18px; */
  text-decoration: none;
  border-style: rgb(87, 86, 86) solid;
  border-radius: 12px;
  border-width: 0.5px;
  /* background-color: #eee; */
  opacity: 1;
  text-align: center;
  height: 100px;
  width: 100px;
  background-color: green;
}

.album-grid li:hover {
   transform: scale(1.03);
}

.slider-container input[type=range]::-webkit-slider-thumb {
 -webkit-appearance: none;
 width: 30px;
 height: 30px;
 border: 8px solid black;
 border-radius:  20px;
 background-color: #00b7ff;
 box-shadow: 0 0 5px rgba(0,0,0,.5);
 cursor: pointer;
 transition: .3s ease-in-out;
}

input[type=range]::-webkit-slider-thumb:hover {
 background-color: aqua;
}


input[type=range]::-webkit-slider-thumb:active {
 background-color: #00b7ff
}


.vid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
}



button {
    background-color: white;
    padding: 10px;
    vertical-align: top;
    box-shadow: 2px 1px 2px gray;
    margin: 4px 10px 4px 10px;
}

button:active {
    
}